```
# Environment variables for LangSmith
export LANGSMITH_TRACING="true"
export LANGSMITH_API_KEY="your langsmith api_key here"

# add google api key for testing
export GOOGLE_API_KEY="your google api_key here"
```